div#area {
  background-color: rgb(128, 79, 206);
  color: aliceblue;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-radius: 10px;
}

div#area2 {
  background-color: rgb(206, 79, 195);
  color: aliceblue;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-radius: 10px;
}
